*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


header {
    background-color: rgb(12, 145, 168);
    padding: 2%;
}


main {
    margin-left: 14%;
    margin-right: 23%;
}


form {   
    margin-top: 5%;
    margin-left: 33%;
    background-color:rgb(5, 109, 141);
    display: inline-block;
    margin-bottom: 5%;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 13px; 
    border: none; 

}


form:hover {
    background-color: rgb(10, 146, 180);

}


.link {
    text-decoration: none;
    color: rgb(237, 245, 236);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

/*verificar*/
.link:hover{
    color: rgb(237, 245, 236);
    text-decoration: none;

}

h1 {
    color: white;
    font-size: 62px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-top: 1%;
    margin-bottom: -1%;
    filter: drop-shadow(4px 9px 2px  rgb(17, 17, 17));
}


.img {
    width: 120px;
    height: 120px;
    background-image: url(1.png);
    position: absolute;
    margin-left: 11%;
    filter: drop-shadow(2px 4px 2px  rgb(17, 17, 17));  /* adiciona sobreado ao texto */
    margin-top: -2%;
    margin-bottom: -1%;
}


h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 3%;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    line-height: 1.4;
    
}


a {
    color: rgb(5, 109, 141); 
    text-decoration: none; /* Remove o sublinhado */
}


a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
    color: rgb(10, 146, 180); 
}


video {
    width: 780px;
    height: 440px;
    margin-top: 2%;
    border: 2px solid black;
}


.inf {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


footer {
    margin-left: 33%;
    margin-top: 2%;
    font-size: 18px;
}

